{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Card deck</h1>

<p>Antal kort kvar i kortleken: {{ amountCards }}</p>

<ul>
{% for card in drawCards %}
    <li>{{ card }}</li>
{% endfor %}
</ul>

{% endblock %}