{% block body %}
        <header class="site-header">
            <span>My JSON routes</span>
        </header>

            <ul>
                <li><a href="{{ path('api_quote') }}">Quote - Get a random quote</a></li>
            </ul>  
{% endblock %}
