{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Card</h1>

    <ul>
        <li><a href="{{ path('card') }}">Card</a></li>
        <li><a href="{{ path('deck') }}">Card deck</a></li>
        <li><a href="{{ path('shuffle') }}">Shuffle cards</a></li>
        <li><a href="{{ path('draw') }}">Draw card</a></li>
    </ul>

{% endblock %}