{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h1>Report - Redovisningstexter</h1>

<ul>
    <li><a href="#kmom01">kmom01</a></li>
    <li><a href="#kmom02">kmom02</a></li>
    <li><a href="#kmom03">kmom03</a></li>
    <li><a href="#kmom04">kmom04</a></li>
    <li><a href="#kmom05">kmom05</a></li>
    <li><a href="#kmom06">kmom06</a></li>
    <li><a href="#kmom10">kmom10</a></li>
</ul>
    
<main class="main">

        <h2 id="kmom01">kmom01</h2>
        <p> Nu är jag färdig med min första uppgift i mvc, objektorienterad programmering 
        i PHP. Jag gick precis kursen, oopython - objektorienterad programmering i python, 
        och har därmed några tidigare erfarenheter av objektorienterad programmering, 
        även om jag ännu inte är färdig med oopython. Jag är iallafall bekant med denna gren av
        olika programmeringsspråk, så jag har en viss grund. Mina reflektioner kring kodbasen, koden och
        strukturen är att jag har en väldigt positiv inställning och var speciellt förtjust i strukturen. 
        Alla olika mappar och filer var strukturerade och uppdelade på ett klokt sätt och jag kände
        att jag förstod vad koden i varje fil gjorde och varför filen var just där den var, uppdelad på det sättet. 
        Koden i sig är jag väl också positiv till, det var inte så mycket nytt i just själva koden, så det
        var skönt att få jobba med sådant man är bekant med. Det var relativt lätt detta kmom. Gällande PHPs modell 
        för klasser och objekt skulle jag säga att det inte är så komplicerat, mer än att man behöver förstå 
        och lära sig vad en klass innebär, vad ett objekt innebär, hur man använder sig av metoder, publikt/privat osv. 
        Man behöver självfallet ha en grund i PHP, för det är ju det programmeringsspråk som används. Det hjälper inte
        så mycket att skapa en klass, om du inte förstår koden inom klassen. Man behöver alltså ha grunderna inom PHP, 
        och därefter lära sig strukturen av klasser och objekt, hur de fungerar och alla begrepp därtill.</p>

        <p>Jag skumläste endast några delar av artikeln "PHP The Right Way", men kollade igenom innehållsföreteckningen lite mer noggrant.
        De delar jag kan tycka är extra viktiga i artiklen är såklart "The Basics", det är ju så man lär sig ett programmeringsspråk;
        att man börjar med grunderna. Därefter tycker jag delen om databaser också är en viktig del att ta med sig,
        eftersom de utgör en stor del av programmering, därmed är det sunt att lära sig om det och iallafall ha viss förståelse
        om hur det fungerar, för att själv kunna använda sig av databaser. Jag tyckte också om att de länkade 
        till fler källor i artikeln. På så sätt får läsaren fler resurser och material för att lära sig mer.</p>

        <p>Min TIL för detta kmom är ganska mycket. Bland det jag lärt mig är såklart
        hur man använder sig av Symfony och bygger upp en webbplats med den. Jag har
        förstått och lärt mig mer om hur jag delar upp koden i olika funktioner och twig filer
        så att man sedan får en bra HTML sida i sin helhet, där varje fil spelar roll, vare 
        sig det är PHP, twig, vanlig html eller annat. Jag har stärkt mina grunder.
        </p>

        <h2 id="kmom02">kmom02</h2>

        <p>Arv är när en klass får attribut och metoder från en annan klass, som den sedan kan 
        använda, alltså ärver från den; det blir att barnklassen ärver från
        föräldraklassen. Komposition är liknande; det är när en klass innehåller en instans av en annan klass inom 
        sig och kan därmed använda den andra klassens metoder. Interface beskrivs som ett kontrakt,
        som har ett villkor på en metod eller flera metoder som alla klasser ska använda sig av. Varje enskild
        klass kan sedan implementera och definiera metod såsom det passar.
        Trait är en, eller flera, metoder som kan användas inom flera olika klasser, utan att de behöver ärva varandra.</p>

        <p>Min implementation av uppgiften var att jag började med att steg 
        för steg göra övningarna parallellt med genomgångarna. På så sätt fick
        jag en grundstruktur som jag sedan kunde använda i uppgiften. Dessutom, med 
        hjälp av genomgången förstod jag koden bättre, då jag fick en djupare
        förklaring därifrån; därmed blev det enklare att sedan modifiera koden
        så att den skulle passa uppgiften. När jag var färdig med övningarna började 
        jag med uppgiften och hade övningens kod som start, sedan gjorde jag ändringar därifrån.
        Jag hade mina klasser, men lade till eller tog bort metoder beroende på vilka som behövdes 
        just i uppgiften. Sedan gjorde jag en route i taget genom att välja routen från övningen
        som var mest lik, och därifrån ändrade jag den och implementerade olika metoder från klasserna där.
        Med tanke på att jag gått oopython gick det väldigt bra, för jag kände igen en del strukturer.
        Jag är ganska nöjd med min kod; jag är mest nöjd över att jag lade ner ordentligt med tid för 
        att förstå koden och på slutet kändes det som att jag verkligen behärska den. Det känns lättare
        att använda manualen och att söka på rätt sätt genom internet. Jag tänker att det alltid finns
        förbättringspotential, kanske att jag kunde lagt till fler metoder för att göra koden i kontrollern 
        ännu mer koncis, men annars är jag nöjd med backenden.</p>

        <p>Såhär långt känns det väldigt bra att jobba i Symfony med applikationskod enligt MVC. Det 
        känns väldigt familjärt, då vi använder oss av liknande kod från tidigare kurser, bl.a. oopython
        och javascript. Det är alltså enklare än vad jag trodde, hittills, och det känns bra 
        att se hur man jobbar effektivare och förstår mer ju mer man studerar programmering.</p>

        <p>Min TIL för detta kmom är främst hur klasser byggs upp och implementeras i detta
        programmeringsspråk, PHP. Även om det är likt det jag har gjort innan så var det vissa 
        nya saker i kodstrukturen, så det var nytt och någonting jag fick lära mig denna gång.
        Jag fick också en djupare förståelse för hur UML diagram byggs upp.</p>

        <h2 id="kmom03">kmom03</h2>

        <p>Det kändes bättre än vad jag trodde att modellera mitt kortspel
        med flödesdiagram och pseudokod. Det var självfallet det första jag började
        med att göra när jag skulle sätta igång med uppgiften, men jag trodde sedan att jag 
        bara skulle låta det vara och gå vidare. Jag gick dock tillbaka till dokumentationssidan
        flera gånger och använde den parallellt med själva kodningen, för att steg för steg
        kunna bygga upp spelet på det sätt jag hade tänkt mig. Diagrammen och pseudokoden var alltså 
        väldigt hjälpsamma och jag använde mig av dem under uppgiftens gång, istället för att bara 
        göra färdig den delen av uppgiften och gå vidare till koden, så det var positivt!</p>

        <p>Jag började min implementation av uppgiften genom att, med hjälp av min dokumentationssida,
        kolla vilken kod jag redan hade som jag kunde återanvända. Det var ganska mycket av tidigare klasser
        och kod som jag kunde fortsätta använda i detta kursmoment, och endast lite som jag behövde justera eller lägga
        till. Det var mest flödet i själva uppgiften som tog tid att bygga upp, inte templatesen eller klasserna, 
        för de återanvände jag mestadels från kursmoment två. Jag är relativt nöjd med uppgiften; kunde såklart
        gjort spelet mer anancerat och gjort mer med själva designen/css, men det hade jag tyvärr inte möjlighet och tid till. 
        Det är ganska ofta som jag har tidspress med skoluppgifterna, så jag försöker mestadels fokusera på att förstå koden och faktiskt
        lära mig, än att lägga ner tid på sådant som kan ses som "extra", eller "roligt", såsom css som jag nämnde ovan. 
        Jag ville främst skapa en bra grundstruktur till spelet och försöka göra koden så simpel som möjligt, samtidigt
        som jag försökte göra kontrollern så "kod-fri" som möjligt, och istället koda i klasserna, såsom vi fick beskrivet
        i uppgiftens instruktioner.</p>

        <p>Så här långt i kursen känns det bra att koda i ramverket Symfony, inga större konstigheter.
        Jag känner igen i stort sett allt vi har gjort sedan tidigare kurser, även om det finns små skillnader. Det känns
        tryggt och familjärt; inte alltför svårt på så sätt att man kör fast helt, men inte alltför enkelt heller,
        en bra balans mellan enkelhet och utmaning, känner jag.  Min TIL för detta kmom är att jag känner mig säkrare
        i att konstruera klasser och parallellt jobba med en kontroller med alla mina routes. Förut kunde det kännas förvirrande
        att behöva orientera sig mellan många olika filer; kontroller, json, templates, klasser osv, men det 
        känns säkrare nu och som att det fallit på plats.</p>

        <h2 id="kmom04">kmom04</h2>

        <p>Jag upplevde att det gick väldigt bra att skriva kod som testar annan
        kod med PHPunit. Jag tror det mestadels handlar om att jag har gjort det mycket tidigare,
        framför allt i kurser OOpython, men också för att övningarna gav en stark grund. Därmed gick
        det väldigt smidigt och jag strukturerade testerna så att det blev 100% på allt.</p>

        <p>Med tanke på att det gick bra och smidigt skulle jag säga att min kod är "testbar kod". Jag skrev 
        inte om någonting utan körde på min redan befintliga kod från tidigare kursmoment. Som jag flera gånger
        nämnt innan tänker jag att det i princip alltid finns saker som kan förbättras, men denna gång lät jag min 
        kod vara och fokuserade på att skriva tester utifrån det jag hade. Det var inga problem somsagt, det gick bra.
        </p>

        <p>Jag tänker att testbar kod eventuellt kan identifiera snygg och ren kod, men det måste inte vara så. 
        Om man bara kolla på själva testerna, kan man få höga värden på dem och lyckas testa koden, även om den 
        originella koden i klasserna inte är så bra. Jag tror det är fler faktorer som måste tas i beaktning för att
        bedöma ifall koden är snygg och ren. Baserat på min reflektion tror jag absolut tester kan vara en bidragande faktor, 
        men jag tror inte det är en av de större faktorerna och inte heller något avgörande. Det finns en del annat
        som spelar roll också. Testerna kan se bra ut, även om koden man testar på kan förbättras och inte anses vara snygg och ren.</p>

        <p>Min TIL för detta kmom är att jag har fått en djupare förståelse för enhetstestning och har kunnat
        utöka mina kunskaper inom det. Från att ha enhetstestat i python har jag nu kunnat utveckla de kunskaperna
        och utforska enhetstestning i ett annat programmeringsspråk också. Jag har alltså lärt mig strukturen av enhetstestning
        i PHP.</p>

        <h2 id="kmom05">kmom05</h2>

        <p>Det gick väldigt bra att jobba med både övningen och uppgiften i detta kursmoment. 
        Jag gjorde övning parallellt med videogenomgången på youtube och jag fann inte några konstigheter
        eller att någonting var otydligt. Jag tyckte övningen hade god struktur, tydlighet och bra förklaringar.
        Det kändes bra att jobba både med övningen och uppgiften, eftersom jag jobbat en del med 
        databaser i tidigare kurser, så allt kändes familjärt och relativt lätt. Kursmomentet var roligt och gick smidigt.</p>

        <p>När jag skulle bygga upp min applikation följde jag CRUD strukturen steg för steg och började med en 
        sida/route i taget. Jag använde koden för övningen som grund och modifierade därefter för att passa CRUD och
        just min specifika kod för kursmomentet. Jag delade upp så att varje del av CRUD fick sin egen sida/länk och samlade
        allt på bibliotekets landningssida. Jag kunde också ha samlat olika länkar i HTML tabellen för alla böcker,
        exempelvis "Radera", "Uppdatera" osv, men min initiala tanke var att dela upp kraven och därför blev det flera olika tabeller beroende
        på vilken länk man gick in på. Jag försökte göra det så smidigt som möjligt med en god struktur och olika länkar,
        så att användaren skulle få en bra översikt och enkelt kunna ta sig igenom de olika funktionerna som fanns inom biblioteket. 
        Layouten och CSS lade jag inte mycket energi på, eftersom jag tyvärr inte hade tid och möjlighet till det. Dock 
        skulle det varit ett sätt att göra det ännu bättre för användaren, men denna gång fokuserade jag på smidigheten och att göra det enkelt för
        användaren genom länkarna och strukturen; det var så jag tänkte på användargränssnittet för detta kursmoment.</p>

        <p>Det gick bra att jobba med ORM i CRUD, jag uppfattar det som väldigt likt det sätt 
        jag jobbat med tidigare. Det är givet att det liknar varandra, eftersom jag tidigare jobbat med just 
        databaser, SQL, CRUD osv. Det enda jag reflekterade över var att det inte behövdes så mycket rena SQL-satser 
        när man jobbade med ORM, vilket tidigare varit någonting som varit prioriterat när jag jobbat med databaser.
        I övningen fick vi se någon enstaka SQL-sats och jag funderade på att själv använda det under kursmomentet för UPDATE-delen,
        men beslutade sedan för att skriva koden direkt i routen då det blev mycket smidigare. Min slutsats och uppfattning
        är att det gick väldigt bra att jobba med ORM och att det hittills var relativt lätt, samt att det såklart liknar andra sätt
        att jobba med databaser, fast med mindre SQL.</p>

        <p>Min TIL för detta kursmoment är att jag lärde min strukturen för ORM i CRUD. Jag fick
        alltså lära mig hur man jobbar med databaser kombinerat med objektorienterad programmering, vilket var 
        lärorikt, intressant och roligt!</p>

        <h2 id="kmom06">kmom06</h2>

        <p>Jag uppfattade verktyget phpmetrics som väldigt hjälpsamt och tydligt 
        för att kunna få en bra översikt av sin kod och för att lätt kunna identifiera var och vad 
        som behöver ändras och förbättras. Jag uppskattade särskilt de delar som belyste de 6 C:na, men även
        att det fanns analyser för de felen och varningar som hade uppstått i koden. Ett väldigt bra 
        och enkelt verktyg som är gynnande att ha med sig parallellt med sitt kodskrivande.</p>

        <p>Det var inga problem att integrera med Scrutinizer och såsom phpmetrics tyckte 
        jag att det var ett väldigt bra och hjälpsamt verktyg. Man fick en god analys av hela sin kod 
        och flera olika sidor där man kunde läsa om olika värden och tydligt se vad som var bra och vad som behövde 
        förbättras. Det var väldigt smidigt att den triggas i samband med varje github commit, för då 
        uppdaterades den ständigt och man kunde gå tillbaka till den hela tiden för att se förändringar och se vad mer 
        man kunde göra för att få bättre värden, samtidigt som man kunde se ifall ens tidigare brister förbättrats i rapporten.
        Det var även bra med batches som gav en god överblick och som tog med de viktigaste delarna av koden. Första gången jag körde
        Scrutinizer fick jag 9,95 i kodkvalitet och 12% i coverage. 
        </p>

        <p>Min egen syn på kodkvalitet är att det är väldigt viktigt och säger mycket om ens kod. Det finns flera 
        olika aspekter man kan och bör kolla på när man analyserar och kollar någons kod, goda resultat på kodkvalitet betyder inte att allt är
        perfekt, men jag tror ändå det ger en viss tanke om vad för kod man har framför sig och huruvida den är välskriven eller inte, från flera
        aspekter. Jag tror absolut att det går att påvisa med bagdes, så som det görs i Scrutinizer. Man kan sedan fördjupa sig och läsa mer 
        om hur de olika värdena har uppstått och analysera delar av koden i detalj. Jag tänker alltså att kodkvalitet är en av de viktigaste 
        och största delarna av en kodanalys, tillsammans med annat också, och att det är någonting som bör finnas med och tas i beaktning.</p>

        <p>Min TIL för detta kmom är att jag lärde mig om hur man använder phpmetrics och Scrutinizer, och hur
        man läser av deras analyser. Därtill lärde jag mig om de 6 C:na och hur jag kan kolla efter dem i ovanstående verktyg.
        Jag stärkte mina kunskaper gällande kodanalys och blev bättre på att identifiera vad för kod jag ska förbättra och hur det ska
        göras.</p>

        <h2 id="kmom10">kmom10</h2>

        <p></p>

        <p>För varje krav du implementerat, dvs 1-3, 4, 5, 6, skriver du ett textstycke om ca 5-10 meningar där du beskriver hur du löste kravet. 
        För krav 1-3 började jag med att använda koden från mina befintliga templates, mer specifikt startsidan för min hemsida, about-sidan och JSON api-sidan, vilket var de tre komponenterna jag behövde för att slutföra de krav jag skulle använda i mitt projekt, alltså krav 1-3 samt krav 4. Jag tog sedan bort allt “extra” jag hade i dessa templates, såsom irrelevanta titlar, texter, html-komponenter osv. Jag ändrade också min base.twig till att benämnas med “main”, vilket jag inte har för resten av mina kursmoment, så att jag kunde skapa en separat grundstruktur för alla mina projektsidor, medan alla andra sidor för de tidigare kursmomenten behöll sin befintliga grundstruktur. Därefter fokuserade jag på att bygga upp en grundstruktur som var relevant för mitt valda ämne, vilket var hållbarhet. Jag skapade en ny css-fil och lade till den som standard för min base. Jag ändrade sedan typsnitt, färg, struktur på header, footer, titlar osv, för att skapa en ny template-grund som skiljde sig från mina andra kursmoments sidor, och som passade mitt hållbarhetsämne.  Jag valde exempelvis grön färg, då jag skulle jobba med målet om hälsa och välbefinnande, vilket representerades av mycket grön färg på bilderna och faktasidorna som hörde till ämnet. Grönt var alltså ett självklart val för mig. Efter att jag skapat en grundstruktur för header, navbar, body och footer kollade jag också igenom mitt repo och uppdaterade min readme-fil med det som behövdes enligt kravet. Jag hade redan en del saker färdigt, men fick uppdatera och lägga till några enstaka saker i innehållet. Jag lämnade kravet för docs/ sist, då jag behövde kolla över min kodtäckning en del och då jag ville fokusera på att generera dokumentation, metrics och phpmetrics på slutet, när jag redan var färdig med i princip allt annat. 
        Jag fortsatte krav 1-3 med att bygga upp vardera sida. Jag började med about-sidan, där jag kort skulle beskriva mitt projekt. Jag gick därefter vidare till huvudsidan och jobbade parallellt med json-sidan utefter den information jag samlade på mig om mitt ämne. Jag började med att strukturera upp olika textbitar på min huvudsida och lade till några listor i json-sida. Jag sökte efter relevanta bilder som skulle finnas på huvudsidan. Därefter skapade jag två tabeller i min databas, då jag valde att fördjupa mig i två olika indikatorer. Jag byggde upp kolumnerna och använde sedan INSERT för att få in all data i vardera kolumn. Jag använde mig av kod från min Library route för att presentera datan i tabeller på min huvudsida, vilket jag gjort under Library-kursmomentet också, så det var i princip samma kod, bara att jag ändrade för att anpassa till mina andra tabeller. När bilder, tabeller och introduktionstext var på plats gjorde jag några fler routes för json-sidan, som skulle använda sig av tabellerna. Jag fortsatte sedan med att göra mer research om mitt ämne, för att få en djupare förståelse och kunna bilda egna tankar, samt hitta olika uttalanden som jag kunde få med på huvudsidan. Jag gjorde klart en indikator i taget, vilket innebar att fixa tabell, infoga uttalanden och sedan skriva egen text med mina reflektioner.
        För krav 4 började jag med att kolla på mina tidigare json-controllers, för att få inspiration och kunna planera vad för länkar jag skulle skapa och vilken kod jag kunde återanvända från tidigare kursmoment. Jag gjorde en lista på olika routes jag kunde implementera, främst utifrån de jag redan hade gjort innan, och gjorde sedan en route i taget parallellt som jag jobbade med huvudsidan för mitt projekt, vilket jag belyst i ovanstående stycken också. I varje route återanvände jag redan befintlig kod, men anpassade vissa delar för att passa just mitt projekt och dess tabeller såklart. Jag tyckte POST-routen var klurigare, både för att jag hade tyckt det var utmanande sedan innan, men också för att jag inte riktigt visste vad för route jag kunde göra med POST. Jag kollade igenom mina controllers igen och beslutade mig för att göra en liknande POST-route som jag hade gjort i kursmomenten med kortlek; man kunde välja ett visst antal kort man ville se och jag återanvände den koden, men gjorde om den så att man valde vilket år och dess data från tabellen man ville se.
        </p>

        <p>Skriv ett allmänt stycke om hur projektet gick att genomföra. Problem/lösningar/strul/enkelt/svårt/snabbt/lång tid, etc. Var projektet lätt eller svårt? Tog det lång tid? Vad var svårt och vad gick lätt? Var det ett bra och rimligt projekt för denna kursen?
        Det gick ganska bra att utföra projektet för denna kurs. Jämfört med de andra kurserna tyckte jag att detta projekt var bland de lättaste, även om den kom med sina utmaningar. Jag tror det beror på att jag nu har mycket mer förkunskaper från tidigare kurser och att jag kunnat återanvända mycket av det jag gjorde under kursens gång i projektet. Jag tyckte att kraven var rimliga och uppdelade på ett bra sätt; de fick med allt vi hade jobbat med under kursens gång. Jag gjorde inte alla krav, men utifrån varje kravspecifikation verkade de rimliga och speciellt de optionella kraven verkade lagom utmanande också; saker man har jobbat med, men som ändå krävde lite extra tanke och energi. Som sagt tyckte jag projektet i helhet gick smidigt och lätt, men vissa saker tyckte jag var utmanande. Jag tyckte det var lite utmanande med POST-routen för JSON api delen, eftersom det var en av de saker jag klurade med tidigare i kursen också för mina andra POST-routes. Sedan tyckte jag att det var tidskrävande och svårt att hitta och sammanställa all data och text som skulle finnas med i mitt projekt, då jag valde ämnet om hållbarhet, där man skulle samla mätvärden parallellt med att man skulle kommentera den data man hade erhållit. Det var lite glest med mätvärden för just det ämnet jag valde, men jag hittade till slut några tabeller jag kunde använda mig av, för att uppnå kraven och slutföra projektet. Sammanfattningsvis tyckte jag alltså det var relativt lätt med kodandet och programmerandet av projektet, medan det som var utmanande var att samla in data och fakta, vilket även var tidskrävande.
        </p>

        <p>Avsluta med ett sista stycke med dina tankar om kursen och vad du anser om materialet och handledningen (ca 5-10 meningar). Ge feedback till lärarna och förslå eventuella förbättringsförslag till kommande kurstillfällen. Är du nöjd/missnöjd? Kommer du att rekommendera kursen till dina vänner/kollegor? På en skala 1-10, vilket betyg ger du kursen?
        Jag tyckte om denna kurs och tyckte att den var rolig och lärorik. Jag uppskattade balansen av att det inte var alltför svårt, samtidigt som det fanns nya moment i varje kursmoment, för att kunna lära sig och utmana sig själv. Jag uppskattade också att det fanns både praktiska och teoretiska delar; praktiska där fokuset låg på kodning och programmering och teoretiskt när vi exempelvis skulle skriva texter och göra analyser. Jag ger kursen därmed 8/10 och skulle kunna rekommendera den till andra. Jag tyckte det var bra med material och tydliga genomgångar, vilket gjorde att man lätt kunde följa med i övningarna för varje kursmoment och sedan implementera det i själva uppgifterna. Därtill var det god tillgänglighet på discord och man fick hjälp ganska snabbt. Jag tycker också lärarna är duktiga på att hjälpa; de vägvisar en, men ger samtidigt inte hela svaret utan låter en tänka och försöka själv först, vilket oftast brukar resultera i att man faktiskt klarar det. Någonting litet jag skulle vilja se som förbättring är eventuellt att göra krav 6 i projektet mer öppet, oberoende av ifall man gjort tidigare krav eller inte. Det kan vara lite svårt, eftersom det kan behövas kod från vissa krav för att uppfylla just krav 6, men det skulle ändå ha varit mindre begränsande känner jag ifall man kunde ha valt det kravet även om man inte gjort krav 4 och 5, eller ifall man bara gjort en av dem. På så sätt skulle eleverna kunna uppnå högre betyg och välja mer fritt vad de vill fokusera på i projektet, speciellt ifall man inte har möjlighet eller tid att göra alla krav.
        </p>


    
</main>

{% endblock %}