{% extends "project/proj.html.twig" %}

{% block title %}About my project{% endblock %}

{% block body %}
    <h1>About my project</h1>

    <p>För mitt projekt har jag valt ämnet Sustainibility - "Visualisera indikatorer för hållbarhet".
    Min uppgift är att marknadsföra ett ämne inom hållbar utveckling, från de 17 områden 
    som kallas "De 17 globala målen". Bland dessa finns exempelvis "Ingen fattigdom", "Ingen hunger", 
    "Rent vatten och sanitet för alla", m.fl. Jag har valt att rikta in mig på det globala målet
    som kallas för "God hälsa och välbefinnande", då det är någonting jag personligen är väldigt intresserad av
    och någonting som är av stor vikt i mitt eget liv. I mitt projekt kommer jag presentera data om mitt valda ämne i form av
    statistik och mätvärden i olika tabeller och kommer därefter kommentera de resultat som tillhandahållts. Jag kommer även
    presentera andras uttalanden om området och därtill dra egna slutsater, i enlighet med mina åsikter och min ställning.</p>

</div>
{% endblock %}