{% extends "project/proj.html.twig" %}

{% block title %}About project{% endblock %}

{% block body %}
    <h1>About project</h1>

<div class="row">

  <div class="column">
    <p>hej</p>
  </div>

</div>
{% endblock %}