{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>

    <p>Hej! Jag heter Irma och är 21 år!</p>
    <p>Jag är en glad tjej från Skåne, men har bott på många olika ställen
    i Sverige och flyttat väldigt många gånger. Just nu bor jag i härliga Småland
    och trivs väldigt bra här. Jag studerar programmet Webbprogrammerin 120 hp
    på Blekinge Tekniska Högskola, men gillar annars att ta promenader
    i naturen, läsa böcker, baka, laga mat och att ta hand om hälsan genom
    kost och träning.</p>

    <a href="{{ asset('img/healthy.jpg') }}">
        <img src="{{ asset('img/healthy.jpg') }}" alt="">
    </a>

{% endblock %}