{% extends "base.html.twig" %}

{% block title %}Number{% endblock %}

{% block body %}
    <h1>Number</h1>
    <p>Welcome to my awesome homepage.</p>
    <p>This is the current number: {{ number }}</p>
{% endblock %}